body {
    margin-left: auto;
    width: 75%;
    font-style:oblique;
    background:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2dY044MCLtRldoevh_8KKDd1-5xk12RTgqsROrJF1tkF1wLgHWA);
    background-repeat:no-repeat;
    background-size:cover;
    
}
h1, h2 {
    margin-left:11%;
    color:whitesmoke;
    -webkit-animation: infinite-spinning 16s alternate infinite;
}
#Edit {
    color: whitesmoke;
}

@-webkit-keyframes colors {
    0% {
        color: darkcyan;
    }
    50% {
        color:  WindowFrame;
    }
    100% {
        color: Window;
    }
}

@-webkit-keyframes fontbulger {
        0%, 100% {
                font-size: 3px;
        }
        50% {
                font-size: 20px;
        }
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#Menu {
    display:block;
    background-color:whitesmoke;
    margin:7px;
    width:140px;
    border-radius:7px;
   
    
}
#Menu a {
     display:block;
     height:20px;
     
     border:1px solid red;
     margin:auto;
     text-decoration:none;
     text-align:center;
     color:whitesmoke;
     background:blue;
     padding-top:5px;
     padding-bottom:5px;
}

#Menu a:hover {
     display:block;
     height:20px;
     border:1px solid red;
     margin:auto;
     text-decoration:none;
     text-align:center;
     color:blue;
     background:whitesmoke;
     padding-top:5px;
     padding-bottom:5px;
     opacity:1;
}

table, th, td {
    border: 1px solid red;
}

table {
    border-collapse: collapse;
}


tr {
     background-color:whitesmoke;
     -webkit-animation: infinite-spinning 6s linear infinite
}

tr:nth-child(2n) {
    background-color:lightblue;
    -webkit-animation: infinite-spinning 6s linear infinite
   
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: blue;
    color: #ffffff;
    -webkit-animation: colors 5s linear infinite;
}

td, th {
    font-size: 1em;
    border: 1px solid red;
    padding: 3px 7px 2px 7px;
}

#playground{
    float:left;
    position: relative;
    height: 400px;
    width: 100%;
}

#ball{
    height: 20px;
    width: 20px;
    background: red;
    position: absolute;
    border-radius: 10px;
 
 
   -webkit-animation: horizontal 3.2s, vertical 0.9s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;    
 
   -moz-animation: horizontal 3.2s, vertical 0.9s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;    
}

input {
    -webkit-animation: resize 3s linear infinite;
    display:block;
}

#CrazyButton {
    float:left;
    position:fixed;
    margin-left:-23%
}

#BoringButton {
    float:right;
}


label {
    color: whitesmoke;
}
#ValidationSummary2, #ValidationSummary1 {
    color:red;
}

#BoringButton {
   -webkit-animation: dropAnimation 1.7s;
   transform: rotate(90deg) translate(300px,0px);
   opacity: 0;
}

@-webkit-keyframes vertical {
    0% { top: 0;}
    50% { top: 100%;}
    100%{top:0;}
}
@-webkit-keyframes horizontal {
    0% { left: 0;}
    50% { left: 100%;}
    100%{left:0;}
}
@-moz-keyframes vertical {
    0% { top: 0;}
    50% { top: 100%;}
    100%{top:0;}
}
@-moz-keyframes horizontal {
    0% { left: 0;}
    50% { left: 100%;}
    100%{left:0;}
}

@-webkit-keyframes resize {
  0% {
    padding: 3px 30px;
    background-color:inherit;
  }
  50% {
    padding: 10px 20px;
    background-color:darkcyan;
  }
  100% {
    padding: 3px 30px;
    background-color:lightgoldenrodyellow;
  }
}

@-webkit-keyframes dropAnimation{
  0%{ transform: rotate(0deg); opacity: 1;}
  20%{ transform: rotate(120deg) }
  40%{ transform: rotate(80deg) }
  60%{ transform: rotate(100deg) }
  80%{ transform: rotate(90deg); opacity: 1; }
  100%{ transform: rotate(90deg) translate(300px,0px); opacity: 0; }
}