body {
    margin-left: auto;
    width: 75%;
    font-style:oblique;
    background:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2dY044MCLtRldoevh_8KKDd1-5xk12RTgqsROrJF1tkF1wLgHWA);
    background-repeat:no-repeat;
    background-size:cover;
    z-index:0;
}
h1, h2 {
    margin-left:11%;
    color :whitesmoke;
}
#Edit {
    color: whitesmoke;
}

#Menu {
    display:block;
    background-color:whitesmoke;
    margin:7px;
    margin-left:200px;
    width:140px;
    border-radius:7px;
    
}

label {
    color: whitesmoke;
}

ul{
    color:red;
}
#Menu a {
     display:block;
     height:20px;
     width:140px;
     border:1px solid red;
     margin:auto;
     text-decoration:none;
     text-align:center;
     color:whitesmoke;
     background:blue;
     padding-top:5px;
     padding-bottom:5px;
}

#Menu a:hover {
     display:block;
     height:20px;
     width:140px;
     border:1px solid red;
     margin:auto;
     text-decoration:none;
     text-align:center;
     color:blue;
     background:whitesmoke;
     padding-top:5px;
     padding-bottom:5px;
}

table, th, td {
      border: 1px solid red;
      color:black;
      padding-top: 5px;
      z-index:1;
}

table {
    border-collapse: collapse;
    

}


tr {
    background-color: lightgreen;
    
}

tr:nth-child(2n) {
    background-color:lightblue;
    
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: blue;
    color: #ffffff;
}

td, th {
    font-size: 1em;
    border: 1px solid red;
    padding: 3px 7px 2px 7px;
}

table a {
    text-decoration:none;
    color:blue;
}

    table a:hover {
        color:orangered;
    }

.icon-ok {
    border: solid 1px #90ac13;
    background: #eef4d3;
    color: #6b800d;
    font-weight: bold;
    text-align: left;
    text-align:center;
    min-height: 42px;
    line-height: 42px;
    vertical-align: middle;
    margin-bottom: .5em;
    width:100px;
}

#SuccessPanel {
    width: 300px;
}

div {
    color:whitesmoke;
}

input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
color: blue;
}

input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }